<form [formGroup]="miFormulario" (ngSubmit)="guardarCambios()">
    <h2 mat-dialog-title>Ficha personal</h2>
    <div mat-dialog-content>{{ingresoDatos.title}}
        <mat-form-field>
            <mat-label>Nombre: </mat-label>
            <input type="text" matInput autocomplete="off" formControlName="nombre">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Color: </mat-label>
            <input formControlName="color" matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Edad: </mat-label>
            <input formControlName="edad" matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Peso: </mat-label>
            <input formControlName="peso" matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Propietario: </mat-label>
            <mat-select formControlName="NombreUsuario">
                <mat-option *ngFor="let listarUsuarios of comboUsuariosList" [value]="listarUsuarios.nombreUsuario">
                    {{listarUsuarios.nombreUsuario}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Raza: </mat-label>
            <input formControlName="raza" matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button type="submit" name=(ingresoDatos.boton) color="primary"
            [disabled]="miFormulario.invalid">{{ingresoDatos.boton}}</button>
        <button mat-button mat-dialog-close color="secondary">Volver</button>
        <button routerLink="/login" mat-button mat-dialog-close color="warn">Salir</button>
    </mat-dialog-actions>
</form>