/.vscode/
/BE-CRUDMascotas/.vs/
/FE-CRUDMascotas/.vscode/
/BE-CRUDMascotas/BE-CRUDMascotas/node_modules/
/FE-CRUDMascotas/.angular/
/BE-CRUDMascotas/bin/
/BE-CRUDMascotas/obj/
/BE-CRUDMascotas/BE-CRUDMascotas.sln
