USE [master]
GO
/****** Object:  Database [Veterinaria]    Script Date: 4/4/2023 01:23:00 ******/
CREATE DATABASE [Veterinaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Veterinaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veterinaria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Veterinaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veterinaria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Veterinaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Veterinaria]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/4/2023 01:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 4/4/2023 01:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Raza] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [real] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Mascotas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230404020523_init', N'8.0.0-preview.2.23128.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230404033253_v0.1', N'8.0.0-preview.2.23128.3')
GO
SET IDENTITY_INSERT [dbo].[Mascotas] ON 

INSERT [dbo].[Mascotas] ([Id], [Raza], [Color], [Edad], [Peso], [FechaCreacion], [Nombre]) VALUES (1, N'Labrador', N'Marrón', 2, 25, CAST(N'2022-03-13T00:00:00.0000000' AS DateTime2), N'Ciro')
INSERT [dbo].[Mascotas] ([Id], [Raza], [Color], [Edad], [Peso], [FechaCreacion], [Nombre]) VALUES (2, N'Golden', N'Dorado', 3, 20, CAST(N'2022-03-14T00:00:00.0000000' AS DateTime2), N'Bartolo')
SET IDENTITY_INSERT [dbo].[Mascotas] OFF
GO
ALTER TABLE [dbo].[Mascotas] ADD  DEFAULT (N'') FOR [Nombre]
GO
USE [master]
GO
