<app-navbar></app-navbar>
<div class="container">
  <mat-toolbar>
    <span>Listado de Usuarios</span>
    <div class="example-spacer"></div>
    <!--<button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Agregar</button>-->
    <button (click)="agregarMascota()" mat-raised-button color="primary">Agregar</button>
  </mat-toolbar>

  <div>
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej. ium" #input autocomplete="off">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Raza">
          <th mat-header-cell *matHeaderCellDef> Raza </th>
          <td mat-cell *matCellDef="let element"> {{element.raza.nombre}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> Color </th>
          <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef> Edad </th>
          <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="peso">
          <th mat-header-cell *matHeaderCellDef> Peso </th>
          <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Propietario">
          <th mat-header-cell *matHeaderCellDef> Propietario </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreUsuario.nombreUsuario}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
              <ng-container *ngIf="isEditMode && currentRowIndex === i; else notEditMode">
                <a class="cancel" matTooltip="Cancelar">
                  <mat-icon (click)="onCancel()">cancel</mat-icon>
                </a>
                <a class="save" matTooltip="Guardar">
                  <mat-icon (click)="onSave()">save</mat-icon>
                </a>
              </ng-container>
              <ng-template #notEditMode>
                <a class="edit" matTooltip="Editar mascota">
                  <mat-icon (click)="onEdit(i)">edit</mat-icon>
                </a>
              </ng-template>
           <!--  <a class="edit" matTooltip="Editar mascota">
              <mat-icon (click)="editarMascota(element.id)">edit</mat-icon>
            </a> -->
            <a class="delete" matTooltip="Eliminar mascota">
              <mat-icon (click)="eliminarMascota(element.id)">delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index">
          <ng-container *ngIf="isEditMode && currentRowIndex === i; else notEditMode">
          </ng-container>
          <ng-template #notEditMode>
            
          </ng-template>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>