
<div class="container">

<!-- Button agregar raza - trigger modal -->
<button type="button" class="btn btn-secondary float-end m-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Agregar raza
  </button>
  
  

    <div class="menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="listMascotas">Listado</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>


<!-- Agregar nueva raza - Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>

</div>